/* @import url('https://fonts.cdnfonts.com/css/comico-2'); */

@import url('https://fonts.cdnfonts.com/css/christopher-done');
@import url('https://fonts.cdnfonts.com/css/poppins');

 

/* .fullDiv{
  margin-top: -5px;
} */

.WhyWorkWithUs{
  margin-top:50px;

}

.WhyChoosingUs{
  margin-top:50px;
}

.topRated{
  margin-top:50px;
}
.aboutUs{
  margin-top:100px;
}